@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&display=swap');

/*header*/
body {
    width: 1440px;
    height: 3650px;
    margin: 0; 
    padding: 0;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #FFFFFF;
}

.brd_header {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 82px;
    display: flex;
    align-items: center;
}

.header_nav {
    display: flex; 
    padding-left: 759px; 
    align-items: center;
}

.list_nav {
    list-style: none;
    display: flex;
    padding-right: 0;
}

.list_nav li {
    padding-right: 35px;
}

.list_nav a {
    text-decoration: none;
    color: #000000;
}

.list_nav a:hover {
    color: grey;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 70, 70, 0.1);
    display: flex;
    width: 78px;
    height: 40px;
    border-radius: 12px;
}

/*main*/
/*block_one*/
.block_one {
    width: auto;
    height: 724px;
    background-color: tomato;
    background-image: url("./image/fon.jpg");
}

.block_blank {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 426px;
    height: 404px;
    line-height: 150%;
    left: 507px;
    top: 360px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.18em;
}

.banner_title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 150%;
    justify-content: center;
}


.banner_name {
    color: #FFFFFF;
    font-family: 'Allura', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 24px;
    line-height: 20%;
}

.banner_button {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    width: 235px;
    height: 56px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: none;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: 0.05em;
}

/*block_two*/
.block_two {
    width: auto;
    height: auto; 
    background-image: url("./image/wrap.jpg");
    background-size: cover; 
    background-position: center;
    border: solid;
    border-color: #FF4646;
}

.wrap_banner {
    background-color: #FFFFFF;
    width: 1276px;
    height: 528px;
    border-radius: 20px;
    margin-left: 82px;
}

.ice{
    position: absolute;
    margin-left: 579px;
    margin-top: 200px;
    border-radius: 20px;
}

.wrap_descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    width: 426px;
    height: 328px;
    margin-top: 60px;
}

.wrap_name {
    padding-top: 160px;
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FF4646;
    line-height: 0;
    letter-spacing: 0.05em;
}

.wrap_title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #181C29;
    line-height: 130%;
    letter-spacing: 0.1em;
}

.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #181C29;
    line-height: 130%;
}

/*block_three*/
.block_three {
    width: auto;
    height: 648px;
    background-image: url("./image/wrap.jpg");
}

.block_three_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.title_gifts {
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 120px;
    line-height: 10%;
}

.title_espec {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block_three_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0px;
}

.blog_image {
    display: flex;
    gap: 12px;
}

.image_one {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 0px;
    width: 310px;
    height: 342px; 
    background-color: #ECF3F8;
    border-radius: 20px;
    overflow: hidden;
}

.image_sign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; 
    padding-top: 20px;
    gap: 4px; 
    width: 100%;
    height: 112px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: auto; 
}

.sign {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #181C29;
    margin: 0; 
}

.sign_one,
.sign_two,
.sign_three,
.sign_four {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0; /* Убедитесь, что у Вас нет дополнительных отступов */
}

.sign_one {
    color: #4361FF;
}

.sign_two {
    color: #06A44F;
}

.sign_three {
    color: #4361FF;
}

.sign_four {
    color: #FF43F7;
}
/*block_four*/
.block_four {
    width: auto;
    height: 668px;
    background-image: url("./image/art.jpg");
    display: flex;
    justify-content: center; 
    align-items: center;
}

.block_four_journey {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    position: relative; 
    width: 426px; 
}

.blog_journey {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; /* Отступ между элементами */
}

.blog_journey_sign {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.title_journey {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button_journey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 56px;
    background-color: #181C29;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center; 
}

.text_journey {
    font-family: 'Allura';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.blog_journey_time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width: 344px;
    height: 72px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    flex-grow: 0;
}

.journey_days {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 8px 0;
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
}

.number {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.word {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.separator {
    font-size: 24px;
    color: #FFFFFF; 
    margin: 0 12px; 
}
/*block_five*/
.block_five{
    width: auto;
    background-image: url("./image/slid.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 488px;
}

.block_five_wrap{
    padding: 0;
    margin: 0;
    padding-left: 0;
    margin-left: 0;
}

.block_slaid_text{
    flex-direction: column;
    align-items: center;
    line-height: 130%;
    padding-top: 20px;
}

.block_slaid_p{
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.new{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block_slaid_picture{
    display: inline-flex;
    padding-left: 82px;
    gap: 20px;
    width: 1360px;
}

.block_slaid_wish{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gifts{
    width: 200px;
    height: 200px;    
}
/*block_six*/
.block_six{
    width: auto;
    background-color: #FFFFFF;
}

.block_six_wrap{
    display: flex;
    gap: 12px;
    margin-left: 82px;
    margin-right: 82px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.block_six_fon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 417px;
    height: 204px;
    background: #ECF3F8;
    border-radius: 20px;
    line-height: 1%;
}

.logo_gift{
    width: 80px;
    height: 80px;
}

.block_six_number{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
}

.block_six_review{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #181C29;
}

.social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.social_right{
    margin-bottom: 60px;
}

.social_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.social_icon a:hover{
    background-color: #ECF3F8;
}

.right_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #181C29;
    line-height: 1%;
}

.right_media{
    font-family: 'Allura', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #181C29;
}











